@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px;
  text-align: center;
}

P {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  opacity: 0.8;
  margin: 0px 20px 30px 20px;
  text-align: center;
}

.button a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  padding: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  border-radius: 30px;
  box-shadow: 2px 3px 2px #9356DC;
  cursor: pointer;
}
.button a:hover {
  background: linear-gradient(#FF79DA, #FF79DA);
  box-shadow: 4px 5px 3px #9356DC;
  transition: all 1s ease-out;
}

.buttonMenu a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 3px 2px #9356DC;
  cursor: pointer;
}
.buttonMenu a:hover {
  background: linear-gradient(#FF79DA, #FF79DA);
  box-shadow: 3px 5px 3px #9356DC;
  transition: all 1s ease-out;
}
@media (min-width: 1024px) {
  .buttonMenu a {
    top: 87%;
  }
}

.card {
  width: 95%;
  margin: 0 auto;
  border: 1px solid transparent;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 0px #e2e0e0;
  position: relative;
}
@media (min-width: 640px) {
  .card {
    width: 300px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 250px;
  }
}
.card__image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.card__restaurant {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10px;
}
.card__plat {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  opacity: 0.6;
  margin-left: 10px;
}
.card__icone {
  position: absolute;
  opacity: 0.6;
  top: 170px;
  right: 10px;
  transition: background-color 0.3s;
}
.card__icone--full {
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  opacity: 0;
}
.card__icone--full:hover {
  opacity: 1;
  transition: all 1s ease-in;
}
.card__notification {
  position: absolute;
  z-index: 10;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  top: 10px;
  right: 5px;
}

.cardMenu {
  width: 100%;
  border: 1px solid transparent;
  margin: 0 auto;
}
.cardMenu__image {
  max-width: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header__logo {
  font-family: "Shrikhand", cursive;
}

.headerMenu {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.headerMenu__logo {
  font-family: "Shrikhand", cursive;
}
.headerMenu__icone {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  border: 1px solid #f2f2f2;
  padding: 10px;
  background-color: #e2e0e0;
}
.form__icone-map {
  padding-right: 15px;
}

.form input[type=text] {
  border: none;
  background-color: #e2e0e0;
}

.form ::placeholder {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 15px;
}
.footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-left: 15px;
}
.footer li {
  list-style-type: none;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  width: 100px;
  margin-left: 15px;
  margin-bottom: 20px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.footer__icone {
  margin-right: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 40vh;
}

.operation {
  display: flex;
  flex-direction: column;
}
.operation__title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 25px 0px 0px 20px;
}
@media (min-width: 760px) {
  .operation__title {
    width: 100%;
  }
}
.operation ul {
  list-style-type: none;
  padding-left: 20px;
}
.operation__number {
  width: 20px;
  height: 20px;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  position: absolute;
  left: -10px;
}
.operation__list {
  position: relative;
  border: 1px solid transparent;
  width: 90%;
  padding: 20px 0 20px 20px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 3px 5px 3px #e2e0e0;
}
@media (min-width: 640px) {
  .operation__list {
    width: 250px;
    display: inline-block;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .operation__list {
    margin-right: 75px;
  }
}
.operation__icone {
  color: #9356DC;
  margin-left: 15px;
}
.operation__description {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

.restaurants {
  height: 175vh;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding-bottom: 30px;
}
@media (min-width: 640px) {
  .restaurants {
    flex-flow: row wrap;
    height: 100vh;
    padding-top: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1200px) {
  .restaurants {
    height: 60vh;
  }
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 10px;
}
@media (min-width: 640px) {
  .restaurants__title {
    width: 100%;
    margin-left: 40px;
  }
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.page {
  animation: opacity-page 3s linear;
}

@keyframes opacity-page {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  opacity: 0;
  animation: loading 3s linear, opacity 3s;
}
.loader::before, .loader::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 50%;
}
.loader::before {
  border-top: 10px solid #FF79DA;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 10px solid #99E2D0;
  transform: rotate(240deg);
}
.loader span {
  position: absolute;
  width: 100px;
  height: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  animation: loading-span 3s linear, opacity 3s;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-span {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.sectionMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 1100px;
  transform: translateY(-45px);
  margin-bottom: -45px;
}
@media (min-width: 640px) {
  .sectionMenu {
    height: 760px;
  }
}
@media (min-width: 760px) {
  .sectionMenu {
    padding: 10px;
  }
}
@media (min-width: 800px) {
  .sectionMenu {
    height: 650px;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .sectionMenu {
    height: 600px;
  }
}
.sectionMenu__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
}
.sectionMenu__icone {
  position: absolute;
  top: 25px;
  right: 30px;
  opacity: 0.6;
  transition: background-color 0.3s;
}
.sectionMenu__icone--full {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  opacity: 0;
  cursor: pointer;
}
.sectionMenu__icone--full:hover {
  opacity: 1;
  transition: all 1s ease-in;
}
.sectionMenu__buttonMenu {
  display: flex;
}

.articleMenu {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  position: relative;
}
@media (min-width: 640px) {
  .articleMenu {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.articleMenu__title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 30px;
  opacity: 0.6;
  border-bottom: 2px solid #99E2D0;
  width: 30px;
}
@media (min-width: 640px) {
  .articleMenu__title {
    width: 100%;
    border-bottom: none;
  }
}

.articleMenu a {
  text-decoration: none;
  color: black;
}

.menu {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 1px #e2e0e0;
  margin-top: 10px;
  width: 95%;
  overflow: hidden;
  display: flex;
}
.menu:hover .checkbox {
  width: 25%;
}
.menu:hover .checkbox > .fa-check-circle {
  opacity: 1;
  animation: rotation 1s linear;
}
@media (min-width: 640px) {
  .menu {
    width: 250px;
  }
}
.menu__description {
  width: 100%;
  margin: 10px 0 10px 10px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__description:hover {
  width: 90%;
}
.menu__name {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.menu__kind {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  opacity: 0.6;
}
.menu__sum {
  display: flex;
  justify-content: end;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 30px;
}

.sticky {
  flex: 1;
}

.checkbox {
  transition: width 1s linear;
  width: 0;
  background: #99E2D0;
  color: white;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  cursor: pointer;
  transform-origin: right center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotation {
  from {
    z-index: 1;
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    z-index: 1;
    transform: rotate(360deg);
  }
}
.menuFirst {
  animation: menu-load 1s ease-out;
  animation-fill-mode: forwards;
  transform: translateY(3px);
  opacity: 0;
}

.menuSecond {
  animation: menu-load 1s ease-out 0.5s;
  animation-fill-mode: forwards;
  transform: translateY(3px);
  opacity: 0;
}

.menuThird {
  animation: menu-load 1s ease-out 0.75s;
  animation-fill-mode: forwards;
  transform: translateY(3px);
  opacity: 0;
}

.menuFourth {
  animation: menu-load 1s ease-out 1s;
  animation-fill-mode: forwards;
  transform: translateY(3px);
  opacity: 0;
}

@keyframes menu-load {
  from {
    transform: translateY(3px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
