.footer{
    display: flex;
    flex-direction: column;
    background-color: $black-color;
    padding-top: 30px;
    padding-bottom: 15px;
    & a{
        text-decoration: none;
        font-family: $font-secondary;
        color: $white-color;
        margin-left: 15px;
    }
    & li{
          list-style-type: none;    
    }
    &__logo{
        font-family: $font-principal;
        width: 100px;
        margin-left: 15px;
        margin-bottom: 20px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    &__icone{
        margin-right: 10px;
    }
}
