.form{
    display: flex;
    justify-content: center;
    border: 1px solid $light-grey-color;
    padding: 10px;
    background-color: $grey-color;
    &__icone-map{
        padding-right: 15px;
    }
    
}
.form input[type="text"]{
    border: none;
    background-color: $grey-color;
}
.form ::placeholder{
    font-weight: bold;
    font-family: $font-secondary;
}