.card{
    width: 95%;
    @include responsive (mobile, small){
        width: 300px;
        margin: 0;
    }
    @include responsive (mobile, xlarge){
        width: 250px;
    }
    margin: 0 auto;
    border: 1px solid transparent;
    background-color: $white-color;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow:0px 2px 0px $grey-color ;
    position: relative;
    &__image{
       width: 100%;
       height: 160px;
       object-fit: cover;
       border-top-right-radius: 15px;
       border-top-left-radius: 15px;
    }
    &__restaurant{
        font-family: $font-secondary;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10px;
    }
    &__plat{
        font-family: $font-secondary;
        font-size: 1rem;
        opacity: 0.6;
        margin-left: 10px;
    }
    &__icone{
        position: absolute;
        opacity: 0.6;
        top: 170px;
        right: 10px;
        transition: background-color 0.3s;   
    }
    &__icone--full{
        color: transparent;
        background-image: linear-gradient($secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        &:hover{
            opacity: 1;
            transition: all 1s ease-in;
        } 
    }
    &__notification{
        position: absolute;
        z-index: 10;
        background-color: $tertiary-color;
        font-family: $font-secondary;
        padding: 5px;
        top: 10px;
        right: 5px;
    }
   
    
}
.cardMenu{
    width: 100%;
    border: 1px solid transparent;
    margin: 0 auto;
    &__image{
       max-width: 100% ;
       object-fit: cover;
    }
}
