
.sectionMenu{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $light-grey-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 900px;
    transform: translateY(-45px);
    margin-bottom: -45px;
    &__title{
        font-family: $font-principal;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 10px;
        text-align: left;
    }
    &__icone{
        position: absolute;
        top: 25px;
        right: 30px;
        opacity: 0.6;
    }
    &__buttonMenu{
        display: flex;
    }
}
.articleMenu{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
    &__title{
        font-family: $font-secondary;
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 10px;
        opacity: 0.6;
        &::after{
            content: "";
            height: 3px;
            width: 0;
            background: $tertiary-color;
            position: absolute;
            left: 0;
            bottom: 180px;
            transition: 0.5s;
        }
        &:hover::after{
            width: 80px;
        }
    }
}
.articleMenu a{
    text-decoration: none;
    color: $black-color;
}
.menu{
border: 1px solid transparent;
background-color: $white-color;
border-radius: 10px;
box-shadow: 2px 3px 2px $grey-color ;
margin-top: 10px;
padding: 5px;
width: 95%;
position: relative;
&__name{
    font-family: $font-secondary;
    font-size: 0.9rem;
    font-weight: bold;
}
&__kind{
    font-family: $font-secondary;
   font-size: 0.8rem;
    opacity: 0.6;
}
&__sum{
    position: absolute;
    right: 10px;
    font-weight: bold;
}
}